body {
	background-image: url("../assets/grey-yellow-gradient.jpg");
	background-size: cover;
	align-content: center;
}

.video-box {
	height: 16.25em;
	width: 25em;
	margin: 1.25em;
	display: inline-block;
	position: fixed;
	padding-left: 31.25em;
}

iframe {
	border: 0;
}

.player-portrait {
	height: 18.75em;
	width: 25em;
	display: inline-block;
	position: fixed;
	margin: 1.25em;
	padding-left: 5em;
}

.player-stats-field {
	max-width: 25em;
	max-height: 50em;
	position: fixed;
	top: 20.625em;
	display: inline-block;
	margin: 1.25em;
	padding-left: 5em;
}

.world-domination-pane {
	max-width: 25em;
	max-height: 50em;
	position: fixed;
	display: inline-block;
	padding-left: 31.25em;
	padding-top: 18.125em;
	margin: 1.25em;
}

.sweet-typeface {
	max-width: 25em;
	max-height: 50em;
	position: fixed;
	display: inline-block;
	padding-left: 57.5em;
	margin: 1.25em;
}

.defeated {
	max-width: 25em;
	max-height: 15em;
	position: fixed;
	display: inline-block;
	padding-top: 35.625em;
	padding-left: 57.5em;
	margin: 1.25em;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

img.background {
	display: block;
	position: fixed;
	max-width: 100%;
	max-height: 100%;
}